<div class="popup-header">
        <div class="heading-text">
          Add a contact
        </div>
        <div (click)="close()" class="close-icon-container">
          <mat-icon class="hand">close</mat-icon>
        </div>
      </div>
      <form [formGroup]="addContactFormGroup"
            class="popup-container-row"
            autocomplete="off">
        <div class="input-size spacer">
          <mat-form-field floatLabel="always">
            <mat-label>Name</mat-label>
            <input placeholder="Contact's name here"
                   formControlName="name"
                   matInput>
            <mat-error *ngIf="addContactFormGroup.controls['name'].hasError('required') && addContactFormGroup.controls['name'].touched">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-size">
          <mat-form-field floatLabel="always">
            <mat-label>Phone number</mat-label>
            <input placeholder="011-123-4567"
                   formControlName="phoneNumber"
                   matInput>
            <mat-error *ngIf="addContactFormGroup.controls['phoneNumber'].hasError('required') && addContactFormGroup.controls['phoneNumber'].touched">
              Phone number is required
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <div class="footer">
        <button  mat-button
                       [disabled]="addContactFormGroup.invalid"
                       (click)="addContact()">Add contact</button>
      </div>