.popup-header {
  background-color: #4885ed;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-text {
  color: #fff;
}

.close-icon-container {
  color: #fff;
}
.hand {
  cursor: pointer;
}

email-content .cdk-overlay-pane {
  width: 50% !important;
}

// .popup-container {
//   padding: 0 16px 24px;
// }

.popup-container-row {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  min-width: 580px;
}

.heading-return {
  margin-bottom: 16px;
  margin-top: 24px;
}

.amounts-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
  padding-bottom: 16px;
}

.save-row {
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.input-size {
  width: 48%;
}

.spacer {
  margin-right: 16px;
}

.footer {
  text-align: right;
  padding: 8px 16px;
  border-top: 1px solid #4885ed;
}
