.heading-container {
    background: #4885ed;
    padding: 10px
}

.heading-text {
    text-align: center;
    color: #fff;
}

.add-contact-button-container {
    float: right;
    padding-top: 15px;
}

.list-component-container {
    padding: 60px 0;
}