<div class="heading-container">
    <h1 class="heading-text">Wesley Chin's Phonebook</h1>
</div>
<div class="add-contact-button-container">
    <button mat-button (click)="openDialog()"><mat-icon>playlist_add</mat-icon> Add contact</button>
</div>
<div class="list-component-container">
    <list-component [contacts]="contacts$ | async"></list-component>
</div>